In [1]:
숫자=1000
print(숫자)

1000

In [4]:
이름="길동"
myname=이름
print("홍"+이름)
print("김"+myname)

홍길동
김길동

In [13]:
i=0b1011
j=0o17
k=0x2af
print(i,j,k)

11 15 687

In [14]:
f=1.0
c=7+7j
print(f,c)

1.0 (7+7j)

In [20]:
type(True)
int(False)

0

In [26]:
today=20220801
year=today//10000
month=(today%10000)//100
day=today%100
print(today, year, month, day)

20220801 2022 8 1

In [51]:
today='20220801'
year=today[0:4]
month=today[5:6]
day=today[7:8]
print(today, year, month, day)

20220801 2022 8 1

In [33]:
"12"+"2"

'122'

In [48]:
poem = '''구름에 달 가듯이 가는 나그네 
길은 외줄기 남도삼백리 
가나다라마바사'''
poem

'구름에 달 가듯이 가는 나그네 \n길은 외줄기 남도삼백리 \n가나다라마바사'

In [52]:
str='210101-1234567'
gender=str[7]
gender

'1'

In [59]:
str2='20210101Sunny'
date=str2[:8]
weather=str2[8:]
print(date,weather)

20210101 Sunny

# h1입니당
## h2입니당

In [70]:
name='홍길동'
age=30
print('%s는 %d살이다' % (name, age))

홍길동는 30살이다

In [73]:
print("{1}는 {2}살이다".format(str,name,age))

홍길동는 30살이다

In [75]:
print("{name}는 {age}살이다".format(name='홍길동',age=18))

홍길동는 18살이다

In [79]:
print("{}는 {:13d}살이다".format(name,age))

홍길동는            30살이다

In [84]:
f' my name is {name}, 2 x {age//2} years old'

' my name is 홍길동, 2 x 15 years old'

In [93]:
len(name)

3

In [96]:
test="{가나다}"
test.isalnum(), name.isalnum()

(False, True)

In [102]:
"23".isdecimal()

True

In [109]:
str.index("2")

0

In [7]:
"홍길동".startswith("홍")

True

In [13]:
a='1'
a.join("edfgedasdf")

'e1d1f1g1e1d1a1s1d1f'

In [11]:
k="a:b:c:d"
k.split(":")

['a', 'b', 'c', 'd']

In [15]:
"  rkskekfk adsf  ".strip()

'rkskekfk adsf'

In [22]:
name='홍길동'
age='26'
print(name,age,a, sep="ㅋㅋ")

홍길동ㅋㅋ26ㅋㅋ1

In [25]:
print(name, end="\r")
print(age)

26

In [31]:
문자열=input(prompt="문자열 입력하세용 : ")
문자열.startswith("가")

문자열 입력하세용 : 가나다라마바사

True

In [ ]:
print(문자열)

In [4]:
a=[1,2,3]
b=[4,5,6]
c=2
a+b

[1, 2, 3, 4, 5, 6]

In [5]:
a*c

[1, 2, 3, 1, 2, 3]

In [61]:
print(a)
print(a[2])
print(a[-2])
print(a[:2])
print(a[-2::-1])
a[1]=8
print(a[:2])

[1, 2, 3]
3
2
[1, 2]
[2, 1]
[1, 8]

In [55]:
import random
lotto=[
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45)
]
len(lotto) , lotto

(6, [32, 29, 27, 10, 4, 28])