In [2]:
arr1=[[1,3,5],[3,5,7],[5,7,9]]

In [5]:
arr1[0],arr1[1],arr1[2]

([1, 3, 5], [3, 5, 7], [5, 7, 9])

In [8]:
arr1[0][0],arr1[0][1],arr1[0][2]

(1, 3, 5)

In [14]:
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [15]:
a[1:2]=["c",'d','e']     #=a[1]
a

[1, 'c', 'd', 'e', 4]

In [17]:
a[1]=["c",'d','e']
a

[1, ['c', 'd', 'e'], 'd', 'e', 4]

In [41]:
import random
lotto=[]
lotto=[
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
]
lotto

[18, 36, 37, 45, 42, 17]

In [102]:
import random
lotto=[]
r=random.randint(1,45)   #, 들어가면 튜플로 저장, 수정 불가
lotto.append(r)
lotto.append(random.randint(1,45) )
lotto.append(random.randint(1,45) )
lotto.append(random.randint(1,45) )
lotto.append(random.randint(1,45) )
lotto.append(random.randint(1,45) )
lotto

[27, 29, 22, 10, 26, 7]

In [103]:
lotto.sort(reverse=True)   #내부정렬
lotto.reverse()
lotto

[7, 10, 22, 26, 27, 29]

In [78]:
a=[1,2,3]
a.insert(0,4)
a.insert(-1,5)
a.insert(99,6)
a

[4, 1, 2, 5, 3, 6]

In [104]:
lotto.pop()

29

In [105]:
lotto

[7, 10, 22, 26, 27]

In [106]:
lotto.pop(2)

22

In [107]:
lotto

[7, 10, 26, 27]

In [108]:
lotto.remove(10)
lotto

[7, 26, 27]

In [111]:
del lotto[1]
lotto

[7, 27]

In [116]:
a=[1,3,5,4,2]
a[::-1],a

([2, 4, 5, 3, 1], [1, 3, 5, 4, 2])

In [120]:
a=[1,3,5,4,2]
a.reverse()
a

[2, 4, 5, 3, 1]

In [113]:
b=['Python','is','too','interesting']
" ".join(b)

'Python is too interesting'

In [122]:
#c=[1,2,3]
#"".join(c)
#sequence item 0: expected str instance, int found

In [128]:
t=1,2,3
t

(1, 2, 3)

In [130]:
#t[1]=25
#'tuple' object does not support item assignment

In [131]:
arr=[]
arr=t
arr

(1, 2, 3)

In [132]:
str='python'
list(str),tuple(str)

(['p', 'y', 't', 'h', 'o', 'n'], ('p', 'y', 't', 'h', 'o', 'n'))

In [134]:
mylist=['a','b','c']
mytuple=('a','b','c')
print("".join(mylist), "".join(mytuple))

abc abc

In [151]:
참석자=set()
day1={'홍','김','이'}
참석자.update(day1)
day2={'홍','박','최'}
참석자.update(day2)
참석자

{'김', '박', '이', '최', '홍'}

In [152]:
참석자.remove('최')
참석자

{'김', '박', '이', '홍'}

In [154]:
참석자-day1

{'박'}

In [155]:
day1&day2

{'홍'}

In [157]:
day1|day2

{'김', '박', '이', '최', '홍'}

In [192]:
a=[1,1,2,2,3,4,4,5,6,7,2]
a=set(a)
a=list(a)
a.sort(reverse=True)
a

[7, 6, 5, 4, 3, 2, 1]

In [191]:
a=[1,1,2,2,3,4,4,5,6,7,2]
print(list(set(a))[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [198]:
names=["홍",'김',"이"]
scores=[70,90,80]
score_dict={"홍":70,"김":90,"이":80}
score_dict

{'홍': 70, '김': 90, '이': 80}

In [204]:
score_dict.get("김")
print(score_dict.get("최"))
dic=score_dict

None

In [213]:
v=list(dic.values())
sum(v), len(v)
sum(v)/len(v)

80.0

In [218]:
"홍" in list(dic.keys())

True

In [228]:
A={"a":90,"b":80,"c":70}
print(A.pop('b'))
print(A)

80
{'a': 90, 'c': 70}

In [98]:
import random
lotto=set()
while len(lotto)!=6:
    lotto.add(random.randint(1,45) )
lotto=list(lotto)
lotto.sort()
print(lotto)

[2, 6, 12, 15, 30, 34]

In [286]:
gender = input("성별을 입력하세요(male,female) ")
if gender == "male":
    print("남성")
elif gender == "female":
    print("여성")
else:
    print("오류")

성별을 입력하세요(male,female) adsf
오류

In [81]:
ans = int(input('나이입력: '))
2022 - ans +1

나이입력: 55

1968

In [100]:
h= int(input("키 입력: "))
w= int(input("무게 입력: "))
a= w+100-h
if a>0:
    print("비만수치: %d\n"%a,"당신은 비만입니다!")

키 입력: 170
무게 입력: 74
비만수치: 4
 당신은 비만입니다!

In [36]:
import random
com = random.randint(1,100)
count = 0

In [27]:
user = int(input("숫자를 맞춰 보세요 (1~100)"))
count = count +1

if com == user:
    print("정답")
elif com< user:
    print("down")
else:
    print("up")
if count > 10:
    print("바보")

숫자를 맞춰 보세요 (1~100)6
up
바보

In [11]:
import random
com = random.randint(1,100)
count = 0
user=0
correct=False

In [12]:
while com!=user and count<10:
    user = int(input("숫자를 맞춰 보세요 (1~100)"))
    count = count +1
    print("%d회 시도"%count)
    if com == user:
        print("정답")
        correct = True
    elif com< user:
        print("down")
    else:
        print("up")
if count == 10 and correct == False:  
        print("바보")

숫자를 맞춰 보세요 (1~100)1
1회 시도
up
숫자를 맞춰 보세요 (1~100)1
2회 시도
up
숫자를 맞춰 보세요 (1~100)1
3회 시도
up
숫자를 맞춰 보세요 (1~100)1
4회 시도
up
숫자를 맞춰 보세요 (1~100)1
5회 시도
up
숫자를 맞춰 보세요 (1~100)1
6회 시도
up
숫자를 맞춰 보세요 (1~100)1
7회 시도
up
숫자를 맞춰 보세요 (1~100)1
8회 시도
up
숫자를 맞춰 보세요 (1~100)1
9회 시도
up
숫자를 맞춰 보세요 (1~100)1
10회 시도
up
바보

In [27]:
#학점 판정 A: 90이상 B: 80 C: 70, 그외 ㅇ
score =97
grade = 'A' if score>=90 else ("B"if score>=80 else ('C'if score>=70 else 'D'))
grade

'A'

In [6]:
colars = ['red','green','blue']
for c in colars:
    print(c)

red
green
blue

In [7]:
scores=[70,80,90]
tot=0
for s in scores:
    tot+=s
print(tot/len(scores))

80.0

In [41]:
import random
com = random.randint(1,100)
user=0
correct=False

In [2]:
import random
com = random.randint(1,100)
user=0
correct=False
for count in range(1,11):
    user = int(input("숫자를 맞춰 보세요 (1~100)"))
    print("%d회 시도"%count)
    if com == user:
        print("정답")
        correct = True
        break
    elif com< user:
        print("down")
    else:
        print("up")
    if count==10 and correct == False:  
        print("바보")

숫자를 맞춰 보세요 (1~100)45
1회 시도
down
숫자를 맞춰 보세요 (1~100)30
2회 시도
up
숫자를 맞춰 보세요 (1~100)35
3회 시도
up
숫자를 맞춰 보세요 (1~100)37
4회 시도
정답

In [48]:
tot=0
for s in range(1,101):
    tot+=s
print(tot)

5050

In [62]:
for i in range(2,10):
    for j in range(1,10):
        print(f"{i}*{j}={i*j}", end=" ")
    print('\n')

2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18

3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27

4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36

5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45

6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54

7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63

8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72

9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [80]:
test2D=[[1,2,3],[4,5,6],[7,8,9,10]]
for i in range(3):
    for j in range(len(test2D[i])):
        print(test2D[i][j], end=" ")

1 2 3 4 5 6 7 8 9 10

In [87]:
test2D=[[1,2,3],[4,5,6],[7,8,9,10]]
for i in test2D:
    for j in i:
        print(j, end=" ")

1 2 3 4 5 6 7 8 9 10

In [68]:
cnt =0
for i in range(10):
    pass
cnt=2*(i+1)
print(cnt)

20

In [70]:
s= [x**2 for x in range(10)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
v=[2**x for x in range(13)]
v

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [72]:
m=[x for x in s if x%2==0]
m

[0, 4, 16, 36, 64]

In [78]:
scores=[70,80,90]
scores=[s//10 for s in scores]
scores=[str(s) for s in scores]
"-".join(scores)

'7-8-9'

In [130]:
#컴 123 난수 생성, if 없이 가위바위보 출력
import random
num= random.randint(1,3)
가위바위보 = ['가위','바위','보']
print(가위바위보[num-1])

바위

In [153]:
#컴 123 난수 생성, if 없이 가위바위보 출력
import random
num= random.randint(1,3)
가위바위보 = {1:'가위',2:'바위',3:'보'}
print(가위바위보[num])

보

In [182]:
def my_hello():
    return("HELLO!")

ans = my_hello()
print(ans)
print(my_hello())
aa= my_hello
print(my_hello)
print(aa)
print(aa())


def my_mello(name):
    return(name + 'HELLO!')
           
print(my_mello(홍길동))

HELLO!
HELLO!
<function my_hello at 0x00000136F8999CA0>
<function my_hello at 0x00000136F8999CA0>
HELLO!

NameError: name '홍길동' is not defined