In [1]:
import pandas as pd

apt_price = pd.read_csv(
    './apt_price_2022-0905.csv',    # 파일 호출
    encoding = 'cp949',             # 한글 문자셋
    skiprows=15,                    # 설명부분 삭제
    thousands=','                   # 천단위 구분자
)
apt_price

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202109,2,220000,2,1987.0,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202112,4,215000,3,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,220000,4,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,220000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,216000,2,1987.0,언주로 3,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,20,74000,3,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16943,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,27,91500,12,1997.0,동일로 752,NaN,중개거래,서울 중랑구
16944,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202111,4,50000,2,2003.0,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구"
16945,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,49900,7,2003.0,동일로144길 74,NaN,중개거래,서울 중랑구
16946,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,53000,6,2007.0,봉화산로27가길 19,NaN,중개거래,서울 중랑구

In [2]:
# 데이터셋 구조
apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       16947 non-null  object
 1   번지        16943 non-null  object
 2   본번        16946 non-null  float64
 3   부번        16946 non-null  float64
 4   단지명       16947 non-null  object
 5   전용면적(㎡)   16947 non-null  float64
 6   계약년월      16947 non-null  int64
 7   계약일       16947 non-null  int64
 8   거래금액(만원)  16947 non-null  int64
 9   층         16947 non-null  int64
 10  건축년도      16945 non-null  float64
 11  도로명       16947 non-null  object
 12  해제사유발생일   665 non-null    float64
 13  거래유형      16947 non-null  object
 14  중개사소재지    16947 non-null  object
dtypes: float64(5), int64(4), object(6)
memory usage: 1.9+ MB

In [3]:
apt_price.loc[apt_price['해제사유발생일'].isna(),:]
apt_price.loc[~apt_price['해제사유발생일'].isna(),:]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
97,서울특별시 강남구 논현동,268-12,268.0,12.0,그랑디오스,132.96,202201,8,159140,5,2004.0,봉은사로51길 18,20220111.0,직거래,-
100,서울특별시 강남구 논현동,225-6,225.0,6.0,논현아이파크,47.46,202202,23,100000,7,2020.0,언주로 615,20220320.0,중개거래,서울 동대문구
116,서울특별시 강남구 논현동,216-1,216.0,1.0,두영,84.84,202111,2,73000,4,2004.0,논현로124길 8,20211231.0,직거래,-
135,서울특별시 강남구 논현동,58-2,58.0,2.0,마일스디오빌,36.29,202208,12,38500,15,2004.0,학동로 165,20220818.0,중개거래,서울 강남구
141,서울특별시 강남구 논현동,22,22.0,0.0,신동아(22),84.52,202109,15,175000,6,1997.0,강남대로146길 28,20211007.0,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16788,서울특별시 중랑구 신내동,618,618.0,0.0,동성3,134.88,202109,11,94500,13,1997.0,신내로 110,20211111.0,-,-
16795,서울특별시 중랑구 신내동,618,618.0,0.0,동성3,129.37,202111,1,93500,21,1997.0,신내로 110,20220125.0,중개거래,"경기 용인수지구, 서울 중랑구"
16848,서울특별시 중랑구 신내동,650,650.0,0.0,신내6대주,59.76,202109,1,75000,12,1996.0,신내로19길 42,20211206.0,-,-
16895,서울특별시 중랑구 신내동,479,479.0,0.0,중앙하이츠,84.97,202110,25,74500,13,1996.0,봉화산로56길 123,20211228.0,-,-
16931,서울특별시 중랑구 중화동,286-22,286.0,22.0,청원다미소,84.80,202204,7,76000,5,2004.0,동일로136길 10,20220607.0,중개거래,서울 중랑구

In [4]:
apt_price.shape

(16947, 15)

In [5]:
# apt_price['시군구']를 시,구,동으로 분할
tmp = apt_price['시군구'].str.split(' ')
apt_price['구'] = tmp.str[1]
apt_price['동'] = tmp.str[2]

In [6]:
# 단위 변환 
apt_price['평'] = round(apt_price['전용면적(㎡)'] / 3.03, 1)         #전용면적을 평 단위로 변환
apt_price['거래금액(억원)'] = apt_price['거래금액(만원)'] /10000    #거래금액을 억 단위로 변환

In [7]:
# 평형 구간 나누기
tmp = [0,10,20,30,40,50,1000000]
tmp1 = '10평미만,10평대,20평대,30평대,40평대,50평이상'.split(',')
apt_price['평형'] = pd.cut(apt_price['평'], bins = tmp, right = False, labels=tmp1)

In [8]:
# 계약년월 분할하기
apt_price['계약년'] = apt_price['계약년월'] // 100
apt_price['계약월'] = apt_price['계약년월'] % 100

In [9]:
# 계약 요일 추출 - 1
tmp = apt_price['계약년월'].astype(str)+apt_price['계약일'].astype(str)
apt_price['계약요일'] = pd.to_datetime(tmp, format='%Y%m%d').dt.dayofweek
apt_price['계약요일']

0        3
1        5
2        1
3        3
4        4
        ..
16942    2
16943    2
16944    3
16945    5
16946    5
Name: 계약요일, Length: 16947, dtype: int64

In [10]:
# 계약 요일 추출 - 2
def dow(i):
    week_list = '월,화,수,목,금,토,일'.split(',')
    return week_list[i]+'요일'
apt_price['계약요일'] = apt_price['계약요일'].apply(dow)
apt_price['계약요일']

0        목요일
1        토요일
2        화요일
3        목요일
4        금요일
        ...
16942    수요일
16943    수요일
16944    목요일
16945    토요일
16946    토요일
Name: 계약요일, Length: 16947, dtype: object

In [11]:
apt_price.describe()

,본번,부번,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,해제사유발생일,평,거래금액(억원),계약년,계약월
count,16946.000000,16946.000000,16947.000000,16947.000000,16947.000000,1.694700e+04,16947.000000,16945.000000,6.650000e+02,16947.000000,16947.000000,16947.000000,16947.000000
mean,570.701050,10.279417,69.819698,202161.344191,15.060660,1.053820e+05,9.276568,2003.779345,2.021786e+07,23.038774,10.538202,2021.545052,6.838969
std,562.790739,67.683398,37.207941,46.819109,8.583542,9.384846e+04,6.243263,11.144879,4.196883e+03,12.278268,9.384846,0.497981,3.389673
min,0.000000,0.000000,11.330000,202109.000000,1.000000,7.600000e+03,-1.000000,1961.000000,2.021091e+07,3.700000,0.760000,2021.000000,1.000000
25%,161.000000,0.000000,48.820000,202110.000000,8.000000,5.000000e+04,5.000000,1997.000000,2.021123e+07,16.100000,5.000000,2021.000000,4.000000
50%,467.000000,0.000000,60.000000,202201.000000,15.000000,8.390000e+04,8.000000,2004.000000,2.022032e+07,19.800000,8.390000,2022.000000,7.000000
75%,785.000000,2.000000,84.935300,202204.000000,23.000000,1.300000e+05,13.000000,2013.000000,2.022053e+07,28.000000,13.000000,2022.000000,10.000000
max,4969.000000,2066.000000,301.470000,202208.000000,31.000000,1.450000e+06,64.000000,2022.000000,2.022090e+07,99.500000,145.000000,2022.000000,12.000000

In [12]:
apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       16947 non-null  object
 1   번지        16943 non-null  object
 2   본번        16946 non-null  float64
 3   부번        16946 non-null  float64
 4   단지명       16947 non-null  object
 5   전용면적(㎡)   16947 non-null  float64
 6   계약년월      16947 non-null  int64
 7   계약일       16947 non-null  int64
 8   거래금액(만원)  16947 non-null  int64
 9   층         16947 non-null  int64
 10  건축년도      16945 non-null  float64
 11  도로명       16947 non-null  object
 12  해제사유발생일   665 non-null    float64
 13  거래유형      16947 non-null  object
 14  중개사소재지    16947 non-null  object
 15  구         16947 non-null  object
 16  동         16947 non-null  object
 17  평         16947 non-null  float64
 18  거래금액(억원)  16947 non-null  float64
 19  평형        16947 non-null  category
 20  계약년       16947 non-null  int64
 21  계약월       16947 non-null  int64
 22  계약요일      16947 non-null  object
dtypes: category(1), float64(7), int64(6), object(9)
memory usage: 2.9+ MB

In [13]:
# # 불필요한 열 삭제
# apt_price2 = apt_price.drop(['시군구','번지','본번','부번','계약년월','거래금액(만원)'], axis = 1)
apt_price.drop(['시군구','번지','본번','부번','계약년월','거래금액(만원)'], axis = 1, inplace = True)

###### apt_price.isnull()==============>정상은 False(0), 결측치는 True(1)
###### apt_price.isnull().sum()========>위의 값을 합침 => True만 합쳐져서 갯수 구할 수 있음.

In [14]:
apt_price.isna().sum()

단지명             0
전용면적(㎡)         0
계약일             0
층               0
건축년도            2
도로명             0
해제사유발생일     16282
거래유형            0
중개사소재지          0
구               0
동               0
평               0
거래금액(억원)        0
평형              0
계약년             0
계약월             0
계약요일            0
dtype: int64

In [15]:
apt_price.info() #Non-Null 봐도 결측치 알수 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   단지명       16947 non-null  object
 1   전용면적(㎡)   16947 non-null  float64
 2   계약일       16947 non-null  int64
 3   층         16947 non-null  int64
 4   건축년도      16945 non-null  float64
 5   도로명       16947 non-null  object
 6   해제사유발생일   665 non-null    float64
 7   거래유형      16947 non-null  object
 8   중개사소재지    16947 non-null  object
 9   구         16947 non-null  object
 10  동         16947 non-null  object
 11  평         16947 non-null  float64
 12  거래금액(억원)  16947 non-null  float64
 13  평형        16947 non-null  category
 14  계약년       16947 non-null  int64
 15  계약월       16947 non-null  int64
 16  계약요일      16947 non-null  object
dtypes: category(1), float64(5), int64(4), object(7)
memory usage: 2.1+ MB

In [16]:
# tmp = apt_price['단지명'].str.contains('은마')          #포함여부
# tmp = apt_price['단지명'].str.startswith('은마')        #시작글자
# tmp = apt_price['단지명'].str.endswith('은마')          #끝글자
# tmp = apt_price['단지명'].str.len() == 2                #글자 수
# apt_price[tmp]

In [17]:
# 건축년도 결측치 채우기 및 타입 수정
tmp = int(apt_price['건축년도'].mean())
apt_price['건축년도'] = apt_price['건축년도'].fillna(tmp).astype('int32')
# apt_price['건축년도'] = pd.to_numeric(apt_price['건축년도'], downcast='integer') 
#astype 말고 numeric도 가능. ==> 데이터 따라서 정수, 실수 자동, downcast로 타입 지정 가능.

In [18]:
apt_price['건축년도'].dtypes

dtype('int32')

In [19]:
def pp(x):
    if x < 10:
        return '아주소형'
    if x < 20:
        return '소형'
    return '일반'

print(apt_price['평'].apply(pp))
apt_price

0        일반
1        일반
2        일반
3        일반
4        일반
         ..
16942    소형
16943    일반
16944    일반
16945    일반
16946    일반
Name: 평, Length: 16947, dtype: object

,단지명,전용면적(㎡),계약일,층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액(억원),평형,계약년,계약월,계약요일
0,개포6차우성아파트1동~8동,79.97,2,2,1987,언주로 3,NaN,-,-,강남구,개포동,26.4,22.00,20평대,2021,9,목요일
1,개포6차우성아파트1동~8동,79.97,4,3,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.50,20평대,2021,12,토요일
2,개포6차우성아파트1동~8동,79.97,12,4,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.00,20평대,2022,4,화요일
3,개포6차우성아파트1동~8동,79.97,21,2,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.00,20평대,2022,4,목요일
4,개포6차우성아파트1동~8동,79.97,27,2,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.60,20평대,2022,5,금요일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,한신아파트(103~109),59.76,20,3,1997,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,19.7,7.40,10평대,2022,7,수요일
16943,한신아파트(103~109),84.03,27,12,1997,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,27.7,9.15,20평대,2022,7,수요일
16944,한영(101),84.69,4,2,2003,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,28.0,5.00,20평대,2021,11,목요일
16945,한영(101),84.69,9,7,2003,동일로144길 74,NaN,중개거래,서울 중랑구,중랑구,중화동,28.0,4.99,20평대,2022,4,토요일
16946,현대휴앤미(102동),76.43,23,6,2007,봉화산로27가길 19,NaN,중개거래,서울 중랑구,중랑구,중화동,25.2,5.30,20평대,2022,4,토요일

In [20]:
# 평 정보를 평형으로 변경시 apply() 사용
def 평형변환(x):
    if x < 10:
        return '10평미만'
    elif x < 20:
        return '10평대'
    elif x < 30:
        return '20평대'
    elif x < 40:
        return '30평대'
    elif x < 50:
        return '40평대'
    else: 
        return '50평이상'

apt_price['평형_app'] = apt_price['평'].apply(평형변환)
apt_price # 같은 결과 얻을 수 있음

,단지명,전용면적(㎡),계약일,층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,구,동,평,거래금액(억원),평형,계약년,계약월,계약요일,평형_app
0,개포6차우성아파트1동~8동,79.97,2,2,1987,언주로 3,NaN,-,-,강남구,개포동,26.4,22.00,20평대,2021,9,목요일,20평대
1,개포6차우성아파트1동~8동,79.97,4,3,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.50,20평대,2021,12,토요일,20평대
2,개포6차우성아파트1동~8동,79.97,12,4,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.00,20평대,2022,4,화요일,20평대
3,개포6차우성아파트1동~8동,79.97,21,2,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,22.00,20평대,2022,4,목요일,20평대
4,개포6차우성아파트1동~8동,79.97,27,2,1987,언주로 3,NaN,중개거래,서울 강남구,강남구,개포동,26.4,21.60,20평대,2022,5,금요일,20평대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,한신아파트(103~109),59.76,20,3,1997,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,19.7,7.40,10평대,2022,7,수요일,10평대
16943,한신아파트(103~109),84.03,27,12,1997,동일로 752,NaN,중개거래,서울 중랑구,중랑구,중화동,27.7,9.15,20평대,2022,7,수요일,20평대
16944,한영(101),84.69,4,2,2003,동일로144길 74,NaN,중개거래,"서울 송파구, 서울 중랑구",중랑구,중화동,28.0,5.00,20평대,2021,11,목요일,20평대
16945,한영(101),84.69,9,7,2003,동일로144길 74,NaN,중개거래,서울 중랑구,중랑구,중화동,28.0,4.99,20평대,2022,4,토요일,20평대
16946,현대휴앤미(102동),76.43,23,6,2007,봉화산로27가길 19,NaN,중개거래,서울 중랑구,중랑구,중화동,25.2,5.30,20평대,2022,4,토요일,20평대

In [21]:
apt_price[apt_price['평형'] != apt_price['평형_app']].shape

(0, 18)

In [22]:
apt_price = apt_price[['단지명','거래금액(억원)','구','동','도로명','계약년','계약월','계약일','계약요일','전용면적(㎡)','평','평형','층','건축년도','해제사유발생일','거래유형','중개사소재지']]
apt_price

,단지명,거래금액(억원),구,동,도로명,계약년,계약월,계약일,계약요일,전용면적(㎡),평,평형,층,건축년도,해제사유발생일,거래유형,중개사소재지
0,개포6차우성아파트1동~8동,22.00,강남구,개포동,언주로 3,2021,9,2,목요일,79.97,26.4,20평대,2,1987,NaN,-,-
1,개포6차우성아파트1동~8동,21.50,강남구,개포동,언주로 3,2021,12,4,토요일,79.97,26.4,20평대,3,1987,NaN,중개거래,서울 강남구
2,개포6차우성아파트1동~8동,22.00,강남구,개포동,언주로 3,2022,4,12,화요일,79.97,26.4,20평대,4,1987,NaN,중개거래,서울 강남구
3,개포6차우성아파트1동~8동,22.00,강남구,개포동,언주로 3,2022,4,21,목요일,79.97,26.4,20평대,2,1987,NaN,중개거래,서울 강남구
4,개포6차우성아파트1동~8동,21.60,강남구,개포동,언주로 3,2022,5,27,금요일,79.97,26.4,20평대,2,1987,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,한신아파트(103~109),7.40,중랑구,중화동,동일로 752,2022,7,20,수요일,59.76,19.7,10평대,3,1997,NaN,중개거래,서울 중랑구
16943,한신아파트(103~109),9.15,중랑구,중화동,동일로 752,2022,7,27,수요일,84.03,27.7,20평대,12,1997,NaN,중개거래,서울 중랑구
16944,한영(101),5.00,중랑구,중화동,동일로144길 74,2021,11,4,목요일,84.69,28.0,20평대,2,2003,NaN,중개거래,"서울 송파구, 서울 중랑구"
16945,한영(101),4.99,중랑구,중화동,동일로144길 74,2022,4,9,토요일,84.69,28.0,20평대,7,2003,NaN,중개거래,서울 중랑구
16946,현대휴앤미(102동),5.30,중랑구,중화동,봉화산로27가길 19,2022,4,23,토요일,76.43,25.2,20평대,6,2007,NaN,중개거래,서울 중랑구

In [23]:
# 구별 평균 거래가
apt_price.groupby('구')[['거래금액(억원)']].mean()

       거래금액(억원)
구
강남구   22.159826
강동구    9.050640
강북구    6.598721
강서구    7.097661
관악구    6.792207
광진구   11.956965
구로구    5.741385
금천구    5.850555
노원구    7.098028
도봉구    6.008877
동대문구   7.604837
동작구    9.610881
마포구   11.618513
서대문구   9.003997
서초구   21.681449
성동구   15.076022
성북구    8.681004
송파구   15.515549
양천구   10.060178
영등포구   9.166000
용산구   23.377161
은평구    7.009776
종로구    7.448088
중구     8.433707
중랑구    5.648917

In [24]:
# 구별 평형별 평균 거래가
pd.set_option('display.max_rows', 150)
apt_price.groupby(['구','평형'])[['거래금액(억원)']].mean()

             거래금액(억원)
구    평형
강남구  10평미만   3.378243
     10평대   10.507082
     20평대   22.939869
     30평대   28.727660
     40평대   33.495596
     50평이상  44.029007
강동구  10평미만   1.500830
     10평대    9.418218
     20평대   11.994984
     30평대   14.276047
     40평대   15.347273
     50평이상  19.150000
강북구  10평미만   1.247259
     10평대    6.035938
     20평대    7.398876
     30평대    9.581905
     40평대    8.661818
     50평이상   7.550000
강서구  10평미만   1.890236
     10평대    6.565630
     20평대    8.606604
     30평대   11.707488
     40평대   14.007895
     50평이상  14.681818
관악구  10평미만   1.619672
     10평대    6.685311
     20평대    8.644389
     30평대   10.346094
     40평대   13.460000
     50평이상  15.495000
광진구  10평미만   1.477543
     10평대    9.660400
     20평대   13.166971
     30평대   15.423222
     40평대   18.060196
     50평이상  26.055714
구로구  10평미만   1.242462
     10평대    5.176016
     20평대    8.189293
     30평대   10.765294
     40평대   12.141000
     50평이상  16.450000
금천구  10평미만   1.374714
     10평대    6.216811
     20평대    7.355633
     30평대    7.737561
     40평대   11.116000
     50평이상        NaN
노원구  10평미만   2.023049
     10평대    6.266007
     20평대    8.644782
     30평대   11.192758
     40평대   11.536800
     50평이상        NaN
도봉구  10평미만   1.609500
     10평대    5.223966
     20평대    6.851855
     30평대   10.478000
     40평대   11.126923
     50평이상  10.214286
동대문구 10평미만   1.884831
     10평대    8.108514
     20평대    9.995303
     30평대   10.443654
     40평대   14.317500
     50평이상  13.116667
동작구  10평미만   2.355052
     10평대    9.830162
     20평대   12.234032
     30평대   14.491200
     40평대   16.851786
     50평이상  18.158571
마포구  10평미만   3.236152
     10평대    9.647245
     20평대   13.279586
     30평대   15.941338
     40평대   19.153182
     50평이상  24.223333
서대문구 10평미만   1.991786
     10평대    8.012683
     20평대   10.327289
     30평대   11.505000
     40평대   10.963667
     50평이상  17.340000
서초구  10평미만   3.544645
     10평대    9.753547
     20평대   25.198079
     30평대   30.079490
     40평대   35.152692
     50평이상  34.436485
성동구  10평미만   3.862931
     10평대   11.903274
     20평대   15.159451
     30평대   17.528939
     40평대   26.982143
     50평이상  55.200000
성북구  10평미만   1.359643
     10평대    7.884750
     20평대    9.486037
     30평대   11.373561
     40평대   12.170000
     50평이상  13.277778
송파구  10평미만   4.527234
     10평대   10.801187
     20평대   18.125418
     30평대   20.099552
     40평대   25.085597
     50평이상  24.688182
양천구  10평미만   1.420714
     10평대    7.480308
     20평대    9.916801
     30평대   14.859844
     40평대   19.406429
     50평이상  24.522727
영등포구 10평미만   1.365357
     10평대    8.235405
     20평대   11.550087
     30평대   17.674884
     40평대   22.495227
     50평이상  29.688000
용산구  10평미만   3.077742
     10평대   12.704533
     20평대   16.048125
     30평대   26.548390
     40평대   23.693286
     50평이상  49.722814
은평구  10평미만   2.877833
     10평대    6.794549
     20평대    8.298199
     30평대   10.962106
     40평대    9.981094
     50평이상  12.812500
종로구  10평미만   2.264765
     10평대    7.289538
     20평대   13.321837
     30평대   14.271667
     40평대   17.537500
     50평이상  18.151667
중구   10평미만   2.215113
     10평대    6.983660
     20평대   12.034902
     30평대   14.462500
     40평대   17.510714
     50평이상  22.305556
중랑구  10평미만   2.489225
     10평대    5.624073
     20평대    7.579089
     30평대   10.510000
     40평대   10.523889
     50평이상  20.800000

In [25]:
apt_price.pivot_table(
    index=['구','평형'],
    values=['거래금액(억원)']
) # 기본 계산은 평균

             거래금액(억원)
구    평형
강남구  10평미만   3.378243
     10평대   10.507082
     20평대   22.939869
     30평대   28.727660
     40평대   33.495596
     50평이상  44.029007
강동구  10평미만   1.500830
     10평대    9.418218
     20평대   11.994984
     30평대   14.276047
     40평대   15.347273
     50평이상  19.150000
강북구  10평미만   1.247259
     10평대    6.035938
     20평대    7.398876
     30평대    9.581905
     40평대    8.661818
     50평이상   7.550000
강서구  10평미만   1.890236
     10평대    6.565630
     20평대    8.606604
     30평대   11.707488
     40평대   14.007895
     50평이상  14.681818
관악구  10평미만   1.619672
     10평대    6.685311
     20평대    8.644389
     30평대   10.346094
     40평대   13.460000
     50평이상  15.495000
광진구  10평미만   1.477543
     10평대    9.660400
     20평대   13.166971
     30평대   15.423222
     40평대   18.060196
     50평이상  26.055714
구로구  10평미만   1.242462
     10평대    5.176016
     20평대    8.189293
     30평대   10.765294
     40평대   12.141000
     50평이상  16.450000
금천구  10평미만   1.374714
     10평대    6.216811
     20평대    7.355633
     30평대    7.737561
     40평대   11.116000
노원구  10평미만   2.023049
     10평대    6.266007
     20평대    8.644782
     30평대   11.192758
     40평대   11.536800
도봉구  10평미만   1.609500
     10평대    5.223966
     20평대    6.851855
     30평대   10.478000
     40평대   11.126923
     50평이상  10.214286
동대문구 10평미만   1.884831
     10평대    8.108514
     20평대    9.995303
     30평대   10.443654
     40평대   14.317500
     50평이상  13.116667
동작구  10평미만   2.355052
     10평대    9.830162
     20평대   12.234032
     30평대   14.491200
     40평대   16.851786
     50평이상  18.158571
마포구  10평미만   3.236152
     10평대    9.647245
     20평대   13.279586
     30평대   15.941338
     40평대   19.153182
     50평이상  24.223333
서대문구 10평미만   1.991786
     10평대    8.012683
     20평대   10.327289
     30평대   11.505000
     40평대   10.963667
     50평이상  17.340000
서초구  10평미만   3.544645
     10평대    9.753547
     20평대   25.198079
     30평대   30.079490
     40평대   35.152692
     50평이상  34.436485
성동구  10평미만   3.862931
     10평대   11.903274
     20평대   15.159451
     30평대   17.528939
     40평대   26.982143
     50평이상  55.200000
성북구  10평미만   1.359643
     10평대    7.884750
     20평대    9.486037
     30평대   11.373561
     40평대   12.170000
     50평이상  13.277778
송파구  10평미만   4.527234
     10평대   10.801187
     20평대   18.125418
     30평대   20.099552
     40평대   25.085597
     50평이상  24.688182
양천구  10평미만   1.420714
     10평대    7.480308
     20평대    9.916801
     30평대   14.859844
     40평대   19.406429
     50평이상  24.522727
영등포구 10평미만   1.365357
     10평대    8.235405
     20평대   11.550087
     30평대   17.674884
     40평대   22.495227
     50평이상  29.688000
용산구  10평미만   3.077742
     10평대   12.704533
     20평대   16.048125
     30평대   26.548390
     40평대   23.693286
     50평이상  49.722814
은평구  10평미만   2.877833
     10평대    6.794549
     20평대    8.298199
     30평대   10.962106
     40평대    9.981094
     50평이상  12.812500
종로구  10평미만   2.264765
     10평대    7.289538
     20평대   13.321837
     30평대   14.271667
     40평대   17.537500
     50평이상  18.151667
중구   10평미만   2.215113
     10평대    6.983660
     20평대   12.034902
     30평대   14.462500
     40평대   17.510714
     50평이상  22.305556
중랑구  10평미만   2.489225
     10평대    5.624073
     20평대    7.579089
     30평대   10.510000
     40평대   10.523889
     50평이상  20.800000

In [26]:
apt_price.pivot_table(
    index=['구'],
    columns=['평형'],
    values=['거래금액(억원)']
)

      거래금액(억원)
평형       10평미만       10평대       20평대       30평대       40평대      50평이상
구
강남구   3.378243  10.507082  22.939869  28.727660  33.495596  44.029007
강동구   1.500830   9.418218  11.994984  14.276047  15.347273  19.150000
강북구   1.247259   6.035938   7.398876   9.581905   8.661818   7.550000
강서구   1.890236   6.565630   8.606604  11.707488  14.007895  14.681818
관악구   1.619672   6.685311   8.644389  10.346094  13.460000  15.495000
광진구   1.477543   9.660400  13.166971  15.423222  18.060196  26.055714
구로구   1.242462   5.176016   8.189293  10.765294  12.141000  16.450000
금천구   1.374714   6.216811   7.355633   7.737561  11.116000        NaN
노원구   2.023049   6.266007   8.644782  11.192758  11.536800        NaN
도봉구   1.609500   5.223966   6.851855  10.478000  11.126923  10.214286
동대문구  1.884831   8.108514   9.995303  10.443654  14.317500  13.116667
동작구   2.355052   9.830162  12.234032  14.491200  16.851786  18.158571
마포구   3.236152   9.647245  13.279586  15.941338  19.153182  24.223333
서대문구  1.991786   8.012683  10.327289  11.505000  10.963667  17.340000
서초구   3.544645   9.753547  25.198079  30.079490  35.152692  34.436485
성동구   3.862931  11.903274  15.159451  17.528939  26.982143  55.200000
성북구   1.359643   7.884750   9.486037  11.373561  12.170000  13.277778
송파구   4.527234  10.801187  18.125418  20.099552  25.085597  24.688182
양천구   1.420714   7.480308   9.916801  14.859844  19.406429  24.522727
영등포구  1.365357   8.235405  11.550087  17.674884  22.495227  29.688000
용산구   3.077742  12.704533  16.048125  26.548390  23.693286  49.722814
은평구   2.877833   6.794549   8.298199  10.962106   9.981094  12.812500
종로구   2.264765   7.289538  13.321837  14.271667  17.537500  18.151667
중구    2.215113   6.983660  12.034902  14.462500  17.510714  22.305556
중랑구   2.489225   5.624073   7.579089  10.510000  10.523889  20.800000

In [27]:
apt_price.pivot_table(
    index=['구'],
    columns=['평형'],
    values=['거래금액(억원)'],
    aggfunc=['min','max']
)

          min                                           max                  \
     거래금액(억원)                                      거래금액(억원)
평형      10평미만   10평대   20평대     30평대   40평대  50평이상    10평미만    10평대    20평대
구
강남구     1.770  2.595  4.151  11.7562  10.60   7.20  10.5000  26.700  43.000
강동구     0.800  1.500  5.000   7.2000  10.50   5.80   3.9500  15.000  20.000
강북구     0.900  1.300  1.500   6.3000   8.00   7.55   1.9000   9.170  11.800
강서구     0.780  1.230  2.300   3.9500  10.00   7.50   4.2000  13.800  17.550
관악구     0.950  2.100  3.300   5.4000  12.20  14.99   3.4500  12.000  14.800
광진구     0.800  3.000  4.450   6.7000   6.50  17.00   2.2050  18.000  21.100
구로구     0.760  1.425  1.850   3.4400   7.00  15.10   2.5900  11.500  16.350
금천구     0.900  1.300  1.700   4.0000   8.98    NaN   3.3400  10.500  14.200
노원구     0.800  2.130  4.200   5.2000   7.98    NaN   4.7200  10.500  14.000
도봉구     0.895  1.600  2.170   5.9900   7.85   4.40   3.3000   8.900  12.000
동대문구    1.000  1.550  3.400   6.7000   8.50   8.30   4.5500  13.520  17.000
동작구     1.100  2.150  3.570   6.9000   8.55  12.50   2.9100  18.100  25.400
마포구     1.140  2.300  4.000   5.5000  10.10   8.82   6.0000  17.000  23.000
서대문구    1.300  1.200  1.800   2.6000   6.00   9.20   3.3500  14.950  18.630
서초구     1.800  2.900  7.000   9.0000  12.50  11.50   9.0000  30.000  46.600
성동구     1.270  3.500  4.300  11.9000  14.70  17.40  10.9500  20.700  38.900
성북구     1.100  1.500  2.800   5.4800  10.30   6.40   2.3000  12.300  16.470
송파구     1.485  2.190  4.440   7.5000   5.68  10.65  12.7500  21.900  32.788
양천구     1.350  1.050  2.200   4.6500   5.83  17.30   1.6500  15.800  21.300
영등포구    0.950  2.000  4.775   9.5000  12.50  17.80   3.7500  16.400  22.000
용산구     1.500  1.830  4.470   5.2000  12.00  14.00   7.1500  30.000  38.000
은평구     0.955  1.850  2.000   3.7500   4.00   7.90   4.6500  11.750  14.500
종로구     0.950  1.850  3.650   7.4700  14.50  13.50   4.6500  17.000  23.000
중구      1.000  0.970  4.700   6.5000  12.00   8.30   5.0169  14.875  18.300
중랑구     0.850  2.130  3.250   4.0000   8.70  20.80   4.1000  10.800  13.850



평형      30평대     40평대   50평이상
구
강남구   50.175  59.0000  145.00
강동구   21.800  20.0000   40.00
강북구   12.650   9.5000    7.55
강서구   20.500  16.8500   17.50
관악구   14.450  14.6000   16.00
광진구   21.400  33.0000   35.00
구로구   18.000  17.1500   18.00
금천구   14.100  13.0000     NaN
노원구   15.900  18.0000     NaN
도봉구   13.150  14.1000   14.50
동대문구  15.800  18.3000   17.00
동작구   30.000  27.0000   43.00
마포구   25.400  26.0000   47.00
서대문구  21.300  17.2500   21.50
서초구   59.000  71.0000   84.00
성동구   28.000  45.9000   88.00
성북구   16.000  14.3500   21.00
송파구   34.000  42.0000   47.30
양천구   25.900  28.0000   34.15
영등포구  27.200  42.5000   55.50
용산구   45.000  50.9998  135.00
은평구   16.510  15.0000   17.65
종로구   26.900  20.0000   24.10
중구    20.500  22.5000   34.70
중랑구   16.200  12.6500   20.80

In [28]:
# 강남 3구의 평형별 평균거래가와 그외 지역 평형별 평균 거래가 비교
tmp = '강남구,서초구,송파구' .split(',')
tmp1 = '강남구,서초구,송파구,용산구' .split(',')

cond = apt_price['구'].isin(tmp)
cond1 = apt_price['구'].isin(tmp1)

강남3구 = apt_price[cond]
그외22구 = apt_price[~cond]

비싼4구 = apt_price[cond1]
그외21구 = apt_price[~cond1]

강남3구_평형_평균 = 강남3구.pivot_table(
    index='평형',
    values = '거래금액(억원)'
)
그외22_평형_평균 = 그외22구.pivot_table(
    index='평형',
    values = '거래금액(억원)'
)

비싼4구_평형_평균 = 비싼4구.pivot_table(
    index='평형',
    values = '거래금액(억원)'
)
그외21_평형_평균 = 그외21구.pivot_table(
    index='평형',
    values = '거래금액(억원)'
)

pd.concat([강남3구_평형_평균,그외22_평형_평균,비싼4구_평형_평균,그외21_평형_평균], axis =1)

        거래금액(억원)   거래금액(억원)   거래금액(억원)   거래금액(억원)
평형
10평미만   3.803706   1.944607   3.737515   1.928464
10평대   10.407222   7.360353  10.606411   7.282556
20평대   21.881459  10.085427  21.415724   9.987357
30평대   27.208587  13.368520  27.126314  12.799105
40평대   32.123204  16.474217  30.886479  15.580948
50평이상  37.199300  31.755043  39.533078  23.731698

In [29]:
df1= pd.DataFrame({
    '고객명':'박세리,이대호,손흥민,김연아,마이클조던'.split(','),
    '생년월일':'1980-01-02,1982-02-22,1993-06-12,1988-10-16,1970-03-03'.split(','),
    '성별':'여성,남성,남성,여성,남성'.split(',')
})
df2 = pd.DataFrame({
    '고객명':'김연아,박세리,손흥민,이대호,타이거우즈'.split(','),
    '연봉':'2000원,3000원,1500원,2500원,3500원'.split(',')
})
pd.merge(df1,df2)

   고객명        생년월일  성별     연봉
0  박세리  1980-01-02  여성  3000원
1  이대호  1982-02-22  남성  2500원
2  손흥민  1993-06-12  남성  1500원
3  김연아  1988-10-16  여성  2000원

In [30]:
pd.merge(df1,df2,how ='left')

     고객명        생년월일  성별     연봉
0    박세리  1980-01-02  여성  3000원
1    이대호  1982-02-22  남성  2500원
2    손흥민  1993-06-12  남성  1500원
3    김연아  1988-10-16  여성  2000원
4  마이클조던  1970-03-03  남성    NaN

In [31]:
pd.merge(df1,df2,how ='right')

     고객명        생년월일   성별     연봉
0    박세리  1980-01-02   여성  3000원
1    이대호  1982-02-22   남성  2500원
2    손흥민  1993-06-12   남성  1500원
3    김연아  1988-10-16   여성  2000원
4  타이거우즈         NaN  NaN  3500원

In [32]:
pd.merge(df1,df2,how ='inner')  # default 값

   고객명        생년월일  성별     연봉
0  박세리  1980-01-02  여성  3000원
1  이대호  1982-02-22  남성  2500원
2  손흥민  1993-06-12  남성  1500원
3  김연아  1988-10-16  여성  2000원

In [33]:
pd.merge(df1,df2,how ='outer')

     고객명        생년월일   성별     연봉
0    박세리  1980-01-02   여성  3000원
1    이대호  1982-02-22   남성  2500원
2    손흥민  1993-06-12   남성  1500원
3    김연아  1988-10-16   여성  2000원
4  마이클조던  1970-03-03   남성    NaN
5  타이거우즈         NaN  NaN  3500원

In [34]:
df1= pd.DataFrame({
    '이름':'박세리,이대호,손흥민,김연아,마이클조던'.split(','),
    '생년월일':'1980-01-02,1982-02-22,1993-06-12,1988-10-16,1970-03-03'.split(','),
    '성별':'여성,남성,남성,여성,남성'.split(',')
})
df2 = pd.DataFrame({
    '고객명':'김연아,박세리,손흥민,이대호,타이거우즈'.split(','),
    '연봉':'2000원,3000원,1500원,2500원,3500원'.split(',')
})
# pd.merge(df1,df2) # 오류발생
pd.merge(df1,df2, left_on='이름',right_on='고객명', how='outer')

      이름        생년월일   성별    고객명     연봉
0    박세리  1980-01-02   여성    박세리  3000원
1    이대호  1982-02-22   남성    이대호  2500원
2    손흥민  1993-06-12   남성    손흥민  1500원
3    김연아  1988-10-16   여성    김연아  2000원
4  마이클조던  1970-03-03   남성    NaN    NaN
5    NaN         NaN  NaN  타이거우즈  3500원

In [35]:
apt_전세 = pd.read_csv(
    '아파트전월세.csv',
    encoding = 'cp949',             # 한글 문자셋
    skiprows=15,                    # 설명부분 삭제
    thousands=','                   # 천단위 구분자
)
전세 = apt_전세[apt_전세['전월세구분']=='전세'].copy()
월세 = apt_전세[apt_전세['전월세구분']=='월세'].copy()

def 전환률적용(x):
    전환률 = 4.75 /100
    return (x*12/전환률)/10000

월세['보증금(억원)'] = 월세['월세(만원)'].apply(전환률적용) + 월세['보증금(만원)']/10000
월세['보증금(억원)']
전세['보증금(억원)'] = 전세['보증금(만원)']/10000

apt_전세=pd.concat([월세,전세]).sort_index()
apt_전세['보증금(억원)'] = round(apt_전세['보증금(억원)'],2)

# apt_전세['시군구']를 시,구,동으로 분할
tmp = apt_전세['시군구'].str.split(' ')
apt_전세['구'] = tmp.str[1]
apt_전세['동'] = tmp.str[2]

# 단위 변환 
apt_전세['평'] = round(apt_전세['전용면적(㎡)'] / 3.03, 1)         #전용면적을 평 단위로 변환

# 평형 구간 나누기
tmp = [0,10,20,30,40,50,1000000]
tmp1 = '10평미만,10평대,20평대,30평대,40평대,50평이상'.split(',')
apt_전세['평형'] = pd.cut(apt_전세['평'], bins = tmp, right = False, labels=tmp1)

# 계약년월 분할하기
apt_전세['계약년'] = apt_전세['계약년월'] // 100
apt_전세['계약월'] = apt_전세['계약년월'] % 100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218544 entries, 0 to 218543
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구            218544 non-null  object
 1   번지             218357 non-null  object
 2   본번             218529 non-null  float64
 3   부번             218529 non-null  float64
 4   단지명            218544 non-null  object
 5   전월세구분          218544 non-null  object
 6   전용면적(㎡)        218544 non-null  float64
 7   계약년월           218544 non-null  int64
 8   계약일            218544 non-null  int64
 9   보증금(만원)        218544 non-null  int64
 10  월세(만원)         218544 non-null  int64
 11  층              218544 non-null  int64
 12  건축년도           218386 non-null  float64
 13  도로명            218544 non-null  object
 14  계약기간           218544 non-null  object
 15  계약구분           218544 non-null  object
 16  갱신요구권 사용       218544 non-null  object
 17  종전계약 보증금 (만원)  144475 non-null  float64
 18  종전계약 월세 (만원)   144475 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 31.7+ MB

In [37]:
apt_전세

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),...,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원),보증금(억원),구,동,평,평형,계약년,계약월
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202109,16,60000,...,-,NaN,NaN,6.00,강남구,개포동,25.7,20평대,2021,9
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202109,20,50400,...,사용,48000.0,0.0,5.04,강남구,개포동,25.7,20평대,2021,9
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202110,20,50400,...,-,NaN,NaN,5.04,강남구,개포동,25.7,20평대,2021,10
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,64000,...,-,61500.0,0.0,6.40,강남구,개포동,25.7,20평대,2022,1
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,64000,...,사용,61500.0,0.0,6.40,강남구,개포동,25.7,20평대,2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218539,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),월세,58.87,202203,19,10000,...,-,0.0,0.0,3.15,중랑구,중화동,19.4,10평대,2022,3
218540,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),전세,87.31,202111,5,29400,...,사용,28000.0,0.0,2.94,중랑구,중화동,28.8,20평대,2021,11
218541,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),전세,56.38,202202,26,23000,...,-,20000.0,0.0,2.30,중랑구,중화동,18.6,10평대,2022,2
218542,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),전세,67.57,202208,11,32500,...,-,NaN,NaN,3.25,중랑구,중화동,22.3,20평대,2022,8
218543,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),월세,64.48,202109,23,10000,...,-,NaN,NaN,1.51,중랑구,중화동,21.3,20평대,2021,9

In [42]:
# 강남 3구의 평형별 평균거래가와 그외 지역 평형별 평균 거래가 비교
tmp = '강남구,서초구,송파구' .split(',')

cond = apt_price['구'].isin(tmp)

강남3구 = apt_price[cond]
그외22구 = apt_price[~cond]

cond1 = apt_전세['구'].isin(tmp)

강남3구1 = apt_전세[cond1]
그외22구1 = apt_전세[~cond1]

강남3구_평형_평균 = 강남3구.pivot_table(
    index='평형',
    values = '거래금액(억원)'
)
그외22_평형_평균 = 그외22구.pivot_table(
    index='평형',
    values = '거래금액(억원)'
)

강남3구_평형_평균1 = 강남3구1.pivot_table(
    index='평형',
    values = '보증금(억원)'
)
그외22_평형_평균1 = 그외22구1.pivot_table(
    index='평형',
    values = '보증금(억원)'
)

tmp1 = pd.concat([강남3구_평형_평균, 그외22_평형_평균,], axis =0)
tmp2 = pd.concat([강남3구_평형_평균1, 그외22_평형_평균1,], axis =0)
pd.concat([tmp1,tmp2], axis =1)

        거래금액(억원)    보증금(억원)
평형
10평미만   3.803706   2.727255
10평대   10.407222   4.566417
20평대   21.881459   8.384014
30평대   27.208587  10.690786
40평대   32.123204  13.191169
50평이상  37.199300  18.136538
10평미만   1.944607   1.569818
10평대    7.360353   3.149421
20평대   10.085427   5.334264
30평대   13.368520   6.915158
40평대   16.474217   8.812942
50평이상  31.755043  13.582156