### Q1
- 아래의 값을 저장하고 있는 info 변수를 생성하세요.
    - ['Park', '010-1234-5678', 'Seoul']
- info의 두번째 값을 변수 phone에 저정하세요.
    - 결과 : '010-1234-5678'
- phone의 값을 '-'을 기준으로 분리하세요.
    - 결과 : ['010', '1234', '5678']
- 위의 리스트를 공백(' ')을 기준으로 연결하세요.
    - 결과 : '010 1234 5678'

In [1]:
# 아래의 값을 저장하고 있는 info 변수를 생성하세요.
info=['Park', '010-1234-5678', 'Seoul']

# info의 두번째 값을 변수 phone에 저정하세요.
phone=info[1]

# phone변수를 출력하세요
print(phone)

010-1234-5678

In [2]:
# phone의 값을 '-'을 기준으로 분리하여 phone에 저장하세요
phone=phone.split("-")
# phone변수를 출력하세요
print(phone)

['010', '1234', '5678']

In [3]:
# 위의 결과를 공백(' ')을 기준으로 연결하세요.
print(" ".join(phone))

010 1234 5678

<br/>
<br/>
<br/>
<br/>

### Q2
- 아래의 값을 저장하고 있는 myList 변수를 생성하세요.
    - myList = [1, 3, 12, 7, 10, 9]
- myList를 역순으로 출력하세요.
    - 결과: [9, 10, 7, 12, 3, 1]
- temp에 [1,3,2]를 저장하고, 아래와 같은 결과가 나오도록 출력하세요.
    - 결과: [9, 10, 7, 12, 3, 1, 1, 2, 3]

In [25]:
# 리스트를 생성하세요.
myList=[1,3,12,7,10,9]

# 역순으로 출력하세요.
myList[::-1]

[9, 10, 7, 12, 3, 1]

In [26]:
# mylist와 temp를 사용하여 아래의 결과를 출력하세요.
temp=[1,3,2]
myList.reverse()
myList=myList+temp
myList

[9, 10, 7, 12, 3, 1, 1, 3, 2]

<br/>
<br/>
<br/>
<br/>

### Q3
- 아래의 값을 저장하고 있는 myList 변수를 생성하세요.
    - myList = [[1,2,3], [4,5,6], [7,8]]
- 결과와 같은 위치에 9를 추가하세요.
    - 결과: [[1,2,3], [4,5,6], [7,8,9]]
- 결과와 같은 위치에 [1,1,1]을 추가하세요.
    - 결과: [[1,2,3], [1,1,1], [4,5,6], [7,8,9]]

In [38]:
# 리스트를 생성하세요.
myList=[[1,2,3],[4,5,6],[7,8]]

# 9를 추가하세요.
myList[2].append(9)
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
# [1,1,1] 를 추가하세요.
myList.insert(1,[1,1,1])
myList

[[1, 2, 3], [1, 1, 1], [4, 5, 6], [7, 8, 9]]

<br/>
<br/>
<br/>
<br/>

### Q4
- 아래의 각 리스트를 region1과 region2에 저장하세요.
    - ['서울', '서울', '대구', '강릉', '제주', '제주', '대전']
    - ['인천', '광주', '부산', '대전', '제주']
- region1의 중복값을 제거하세요.
    - 결과 : ['서울', '대구', '제주', '강릉', '대전']
- region1과 region2의 공통 값을 구하세요.
    - 결과 : ['제주', '대전']

In [49]:
# region1, region2 리스트를 생성하세요.
region1 = "서울 서울 대구 강릉 제주 제주 대전"
region1 = region1.split(" ")
region2 = "인천 광주 부산 대전 제주"
region2 = region2.split(" ")
print(region1)

# region1의 중복값을 제거하세요.
region1=list(set(region1))
print(region1)

['서울', '서울', '대구', '강릉', '제주', '제주', '대전']
['대전', '서울', '제주', '대구', '강릉']

In [56]:
# region1과 region2의 공통 값을 구하세요.
print(list(set(region1)&set(region2)))

['제주', '대전']

<br/>
<br/>
<br/>
<br/>

### Q5
- 학생들의 이름과 점수를 key와 value로 가지는 score 변수를 생성하세요.
    - 하준 90점, 서윤 86점, 지아 80점
- 서윤의 점수를 76점으로 수정하세요.
- score 변수에서 지아를 삭제하세요.
- score 변수에 민우 100점을 추가하세요.

In [57]:
# 사전을 생성하세요.
score={'하준':90,'서윤':86,'지아':80}
score

{'하준': 90, '서윤': 86, '지아': 80}

In [61]:
# 서윤의 점수를 76점으로 수정하세요.
score['서윤']=76
score

{'하준': 90, '서윤': 76, '지아': 80}

In [62]:
# 지아를 삭제하세요.
score.pop('지아')
score

{'하준': 90, '서윤': 76}

In [64]:
# 민우 100점을 추가하세요.
score['민우']=100
score

{'하준': 90, '서윤': 76, '민우': 100}